.title {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.justify-content-between {
  margin-left: -5px;
  margin-right: -5px;
}
.post-user {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.btn-back {
  width: 100%;
}
.spinner {
  text-align: center;
  padding: 50px;
}
